<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/index.css">
</head>

<body>
    <div class="content">
        <div class="head">
            <div class="logo">
                <img src="../static/img/logo.png" style="width: 50px;">
            </div>
            <div class="title">数据分析</div>
            <div class="nav">
                <a href="index">首页</a>
                <a href="movie">目录</a>
                <a href="score">数据分析</a>
                <a href="cloud">词云</a>
            </div>
            <div class="nav_footer nav_footer4"></div>
        </div>
        <img src="./static/img/flower.jpg">
        <img src="./static/img/Orange.jpg">
        <img src="./static/img/m.jpg">
    </div>

    <script src="../static/js/index.js"></script>
</body>

</html>