<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>数据分析</title>
    <link rel="stylesheet" href="../static/css/index.css">
</head>

<body>
    <div class="content">
        <div class="head">
            <div class="logo">
                <img src="../static/img/logo.png" style="width: 50px;">
            </div>
            <div class="title">数据分析</div>
            <div class="nav">
                <a href="index">首页</a>
                <a href="movie">目录</a>
                <a href="score">数据分析</a>
                <a href="cloud">词云</a>
            </div>
            <div class="nav_footer nav_footer1"></div>
        </div>
        <div class="banner">
            <div class="left">
                <div class="banner_text1">
                    网页爬虫和数据分析
                </div>
                <div class="banner_text2">
                    利用爬虫爬取数据然后进行数据可视化
                </div>
                <div class="banner_text3">
                    <button class="banner_button">点击查看</button>
                </div>
            </div>
            <div class="right">
                <img src="../static/img/1.png" alt="">
            </div>
        </div>
        <div class="boxes">
            <a href="index" class="box_a">
                <div class="box">
                    <div class="box_img">
                        <img src="../static/img/5.png" alt="">
                    </div>
                    <div class="box_text1">
                        1
                    </div>
                    <div class="box_text2">
                        首页
                    </div>
                </div>
            </a>
            <a href="movie" class="box_a">
                <div class="box">
                    <div class="box_img">
                        <img src="../static/img/4.png" alt="">
                    </div>
                    <div class="box_text1">
                        {[movie_len]}
                    </div>
                    <div class="box_text2">
                        目录
                    </div>
                </div>
            </a>
            <a href="score" class="box_a">
                            <div class="box">
                            <div class="box_img">
                                <img src="../static/img/6.png" alt="">
                            </div>
                            <div class="box_text1">
                                {[movie_len]}
                            </div>
                            <div class="box_text2">
                                数据分析
                            </div>
                        </div>
            </a>
            <a href="cloud" class="box_a">
                <div class="box">
                    <div class="box_img">
                        <img src="../static/img/3.png" alt="">
                    </div>
                    <div class="box_text1">
                        {[cloud]}
                    </div>
                    <div class="box_text2">
                        词云
                    </div>
                </div>
            </a>
        </div>
        <br>
        <br>
        <div class="footer"></div>
    </div>


    <script src="../static/js/index.js"></script>
</body>

</html>